@font-face { 
    font-family: "Shrikhand-Regular"; src: url("../fonts/Shrikhand-Regular.ttf") ;
}
@font-face { 
    font-family: "Roboto"; src: url("../fonts/Roboto-Medium.ttf") ;
}
$font01: "Roboto", Arial, Helvetica, sans-serif;
$font02: "Shrikhand-Regular", Arial, Helvetica, sans-serif;